@{
    ViewBag.Title = string.Format( "Ruelectstats.com - {0}: {1}", @Model.ElectionName, @Model.currentRegion.Name );
}

@using System.Drawing
@using RussianElectionResultScraper.Web
@using MvcApplication2.Models


@model VotingResultModel
           
    <style>

        #current
            {
            font-weight: bold;
            }

        #container {
            margin: auto;
            width:100%;
            min-width: 990px; 
            }       


        #container #voting-place-breadcrumbs {
            font-size: 20px;
            font-weight: normal;
            letter-spacing: -1px;
            text-shadow: 1px 1px 0 white;            
            text-align: center;
            margin-top: 10px;
            margin-bottom: 15px;
            }

        #container #voting-place-breadcrumbs a:hover, 
        #container #voting-place-breadcrumbs a:active,
        #container #voting-place-breadcrumbs a:link,
        #container #voting-place-breadcrumbs a:visited {
            color:#4183C4;
            text-decoration: none;
            }

        #container #voting-place-breadcrumbs a.last {
            font-weight: bold;
        }
            
        #container #columns {
            width: 100%;
        }            

        #container #left-column .results-decorator {
            background-color: #EEE;
            padding:3px;
        }
        
        #container #columns #right-column h3
            {
            font-weight: bold;
            }

        div#regions {
            width: 100%;
        }

                    
        table.results {
        }

        table.results th.candidate-header div.candidate-header-container {
            
        }

        table.results th.candidate-header div.candidate-header-name {
            
        }

        table.results th.candidate-header div.candidate-header-line 
        {
            margin-top: 5px;
            height:3px;
        }
        
        table.results td 
            {
            background: #F8F8F8;
            border-bottom: 1px solid #EEE;
            padding: 7px 3px;
            color: #484848;
            vertical-align: middle;
            }

        table.results th {
            text-align: left;
            font-weight: bold;  
            padding: 6px 3px;
            color: #555;
            text-shadow: 0 1px 0 white;
            border-bottom: 1px solid #D8D8D8;
            background-color: #FAFAFA;
            background-image: -webkit-linear-gradient(#FAFAFA,#EAEAEA);
        }            
        
        table.results th#place-header {
            width:20%;
        }

        table.results th#attendance-graph-header {
            width:62px;
        }
        
        table.results tr.main {
            height: 70px;
        }

        table.results tr.main td.place {
            padding-left: 10px;
            white-space: normal;
        }

        table.results tr.child td.place {
            padding-left: 20px;
            white-space: normal;
        }

        table.results tr.main td.graph,
        table.results tr.child td.graph {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            }
        
        tr 
            {
            vertical-align: top;
            }
            
        tr.alt td
            {
            /*background-color: #dbdada;*/
            }
            
        tr.over td
            {
            background-color: #fec072 !important;
            cursor: pointer;
            }
            
        .main td 
            {
            font-size: 16px;
            font-weight: bold;
            }
            
        .tooltip
            {
            display:none;
            background:transparent url(/Content/themes/base/images/tooltip/black_arrow.png);
            font-size:12px;
            height:70px;
            width:160px;
            padding:25px;
            color:#fff;	
            }            
            
        h3 {
            text-align: center;
        }

        div.legend {
            padding:20px;
            display:none;
            background-color: white;
            -webkit-box-shadow: 0px 0px 2px 2px #ccc
        }
                    
    </style>

    <div id="container">
        <div id="election_name">
            @Model.currentRegion.ElectionName
        </div>
        @{ 
         var breadcrumbs = @Model.Breadcrumbs;
         var candidates = @Model.Candidates; 
        }

        <h2 id="voting-place-breadcrumbs">
            @foreach (var b in breadcrumbs) 
                {
                bool last = b == breadcrumbs.Last();
                <a href="/election/@b.ElectionId/place/@b.Id" class="@(last ? "last" : "" )">@b.Name </a>
                if ( !last )
                    { 
                    <span>/</span>
                    }
                }
        </h2>
        <table id="columns" >
            <tr>
                <td id="left-column" width="100%">
                    <div class="results-decorator">
                        <table class="stripeMe results">
                            <tr> <!-- header -->
                                <th id="place-header">Регион</th>
                                <th id="attendance-header">Явка</th>
                                <th id="attendance-graph-header">Явка/<br>#УИК</th>
                                @foreach (var candidate in candidates )
                                    {
                                    <th class="candidate-header">
                                        <div class="candidate-header-container">
                                            <div class="candidate-header-name">@candidate.ShortName</div>
                                            <div class="candidate-header-line" style="background-color: @ColorTranslator.ToHtml(@candidate.Color)"></div>
                                        </div>
                                        
                                    </th>
                                    }
                                <th style="width:76px">&nbsp;</th>
                            </tr>
                            <tr class="main">
                                <td class="place">
                                    @Model.currentRegion.Name
                                </td>
                                <td class="attendance">
                                    <span title="@Model.currentRegion.NumberOfVotersInVoterList">@Model.currentRegion.Attendance</span>
                                </td>
                                <td class="graph">
                                    <img style="border: 1px solid black" class="spinner-small"src="/graph/polling-stations-by-attendance/@(Model.currentRegion.Id).jpg?width=60&height=50" width="60" height="50"/>
                                </td>

                                @foreach (var cr in @Model.currentRegion.CandidateResults)
                                    {
                                    <td style="overflow: hidden; text-overflow: ellipsis">
                                        <div>@string.Format("{0:N2}", @cr.Percents)%</div>
                                        @*                                    <div>@string.Format("{0:N0}", @cr.Votes)</div>*@
                                    </td>
                                    }

                                <td>
                                    <img style="border: 1px solid black" src="/graph/polling-station-results/@(Model.currentRegion.Id).jpg?width=60&height=50" width="60" height="50"/>
                                </td>
@*                                    <a target="_blank" href="@Model.currentRegion.CECUrl">ЦИК</a>*@
@*                                </td>*@

                            </tr>

                    @if (Model.ShowBreakdown)
                        {
                        foreach (var r in Model.regions)
                            {
                            var candidateResults = r.CandidateResults;
                            <tr class="child">
                                <td class="place">
                                    <a href="/election/@r.ElectionId/place/@r.Id">@r.Name</a><div class="tooltip" style="display: none">Id: @r.Id</div>
                                </td>
                                <td>
                                    <span title="@r.NumberOfVotersInVoterList">@r.Attendance</span>
                                </td>
                                <td class="graph">
                                    <img style="border: 1px solid silver" src="/graph/polling-stations-by-attendance/@(r.Id).jpg?width=60&height=50" width="60" height="50"/>
                                </td>
                                @foreach (var cr in candidateResults)
                                    {
                                    <td>
                                        <div>@string.Format("{0:N2}", @cr.Percents)%</div>
<!--                                        <div>@string.Format("{0:N0}", @cr.Votes)</div> -->
                                    </td>
                                    }
                                <td class="graph">
                                    <img style="border: 1px solid silver" src="/graph/polling-station-results/@(r.Id).jpg?width=60&height=50" width="60" height="50"/>
                                </td>
                            </tr>
                            }
                        }
                    @if (Model.ShowDetails)
                        {
                        <table>
                            @foreach (var counter in Model.currentRegion.Results)
                                {
                                <tr>
                                    <td>@counter.Counter</td>
                                    <td>@counter.Description</td>
                                    <td>@counter.Value</td>
                                </tr>
                                
                                }
                        </table>
                        }
                </table>
                </div>
                </td>
                <td style="vertical-align: top" width="400" id="right-column">
                        <h3>Количество УИК по явке</h3>
                        <img class="spinner-large" src="/graph/polling-stations-by-attendance/@(Model.currentRegion.Id).jpg?width=400&height=400&showGrid=true" width="400" height="400"></img>
                        <h3>Результаты</h3>
                        <img class="spinner-large has-graph-legend"  src="/graph/polling-station-results/@(Model.currentRegion.Id).jpg?width=400&height=400&showGrid=true" width="400" height="400"></img>
                        <div class="legend">
                            <table style="width:100%">
                            @foreach (var c in Model.Candidates)
                                {
                                <tr>
                                    <td style="padding:7px 3px">@c.ShortName</td>
                                    <td ><div style="width:20px;height:10px;background-color: @ColorTranslator.ToHtml(@c.Color)">&nbsp;</div></td>
                                </tr>
                                }
                            </table>
                        </div>
                   <h3>Отданные голоса за партию/кандидата по явке</h3>
                    <img 
                        class="spinner-large has-graph-legend" 
                        alt="Отданные голоса за партию/кандидата по явке"
                        src="/graph/candidate-results-by-attendance/@(Model.currentRegion.Id).jpg?width=400&height=400&showGrid=true" 
                        width="400" 
                        height="400"></img>
                    <div class="legend">
                            <table style="width:100%">
                            @foreach (var c in Model.Candidates)
                                {
                                <tr>
                                    <td style="padding:7px 3px">@c.ShortName</td>
                                    <td ><div style="width:20px;height:10px;background-color: @ColorTranslator.ToHtml(@c.Color)">&nbsp;</div></td>
                                </tr>
                                }
                            </table>
                    </div>
                
                </td>
            </tr>
        </table>

    <div style="clear: both"></div>
    </div>
    <script type="text/javascript">
        $().ready(function () {
            $(".hastooltip").tooltip();
            $(".has-graph-legend").tooltip({ position: "center left"/*, tip: "#legend", events: { def: "mouseenter,mouseout"} */});
            $('.stripeMe tr:even').addClass('alt');
            $('.stripeMe tr').mouseover(function () {
                $(this).addClass('over');
            });
            $('.stripeMe tr').mouseout(function () {
                $(this).removeClass('over');
            })

        });
//        function resizeFrame() {
//            var h = $(window).height();
//            var w = $(window).width();
//            $("#regions").css('height', h);
//        }
//
//        $().ready(function () {
//            resizeFrame();
//        });
//
//
//        $().ready(function () {
//        });

        function load(anchor) 
        {
            $('#content').load(anchor.href + ' #content');
            return false;
        }

    </script>
